@import "_custom-variables.scss";

a.button,
button {
	position: relative;
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	user-select: none;
	outline: 1px solid $dark-background;

	color: $body-background;
	background-color: $main-color;
	border-radius: 5px;
	border: transparent;
	padding: 0.5em 2em;

	&:not(:disabled):hover,
	&:not(:disabled):focus {
		background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
	}

	&:not(:disabled):focus {
			border: 2px solid $dark-text;
	}

	&:disabled {
		color: $gray-light;
		background-color: $gray-lighter;
		cursor: default;
	}

	&.primary {
		font-size: 120%;
	}

	&.small {
		font-size: 70%;
		padding: 0.25em 2em;
	}
}
