
.c2c-copied::after {
	position: absolute;
	top: 12%;
	left: 110%;
	display: block;
	content: "copied";
	font-size: 0.75em;
	padding: 2px 3px;
	color: #fff;
	background-color: #22a;
	border-radius: 3px;
	opacity: 0;
	will-change: opacity, transform;
	animation: showcopied 1.5s ease;
}

@-moz-keyframes showcopied {
	0% {
		opacity: 0.5;
		transform: translateX(-100%);
	}

	70% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes showcopied {
	0% {
		opacity: 0.5;
		transform: translateX(-100%);
	}

	70% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
	}
}

@keyframes showcopied {
	0% {
		opacity: 0.5;
		transform: translateX(-100%);
	}

	70% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
	}
}
