// Set your brand colors

$main-color:      rgb(31, 141, 214);
$secondary-color: rgb(66, 184, 221); /* this is a light blue */
$body-text:       #7f8c8d;
$body-background: #ffffff;
$dark-text:       #333;
$dark-background: #2d3e50;
$disabled-text:   #999;

$color-success:    rgb(28, 184, 65); /* this is a green */
$color-success-bg: lighten($color-success, 50%);
$color-error:      rgb(202, 60, 60); /* this is a maroon */
$color-error-bg:   rgb(255, 212, 209);
$color-warning:    rgb(223, 117, 20); /* this is an orange */


$gray-light:       $body-text;
$gray-lighter:     lighten($dark-text, 70%); 

$bp-small:          600px;
$content-max-width: 600px;


//** Global textual link color.
$link-color:           $main-color;
$link-visited-color:   $main-color;
$link-hover-color:     darken($link-color, 15%);
