@charset "utf-8";

@import "_custom-variables.scss";

@font-face {
  font-family: "OpenSans";
  src: url("/assets/webfonts/OpenSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("/assets/webfonts/OpenSans-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("/assets/webfonts/OpenSans-SemiBold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	font-size: 16px;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.7em;
	color: $body-text;
	font-family: OpenSans, Helvetica, Arial, sans-serif;
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
	display: block;
	color: $dark-background;
	font-weight: normal;
}

img {
	display: inline-block;
  max-width: 100%;
  height: auto;
}

a {
	color: $link-color;
	text-decoration: underline;

	&:visited {
		color: $link-visited-color;
	}

	&:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: $disabled-text;
}

@import "_buttons.scss";


@media (max-width: $bp-small) {

	/* Decrease the body font size */
	body {
		font-size: 13px;
	}

}

